
@font-face {
	font-family: 'Merriweather-Regular';
	src: url('./fonts/Merriweather-Regular.eot');
	src: local('☺'), url('fonts/Merriweather-Regular.woff') format('woff'), url('fonts/Merriweather-Regular.ttf') format('truetype'), url('fonts/Merriweather-Regular.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather-Bold';
	src: url('./fonts/Merriweather-Bold.eot');
	src: local('☺'), url('fonts/Merriweather-Bold.woff') format('woff'), url('fonts/Merriweather-Bold.ttf') format('truetype'), url('fonts/Merriweather-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('./fonts/Lato-Light.eot');
	src: local('☺'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
    background-color: #e6fff9;
    font-family: 'Lato-Light';
}

.my-nav-color {
	background-color:#2d2b3d;
	font-size: 1.5rem;
	font-weight: 500;
}

.my-link {
	font-size: 1.6rem;
	
}

.carousel-inner {
	position: relative;
}
.wel-img-parent {
	padding: 0 0 58% 0;
	overflow: hidden;
	position: relative;

}
.wel-img {
	
	width: 100%;
    height: 100%;
    object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
	
}

.wel-text {
	font-size: 1.4rem;
	border-radius: 14px;
	color: #ffffff;
	text-transform: uppercase;
	transform: translate(-12%, 20%);
	padding-left: 10px;
	padding-right: 10px;
}
.wel-text h2 {
	border-bottom: 1px solid salmon;
	width: 75%;
	margin: 0 auto;
	padding-bottom: 7px;
	padding-top: 10px;
}

.wel-text p {
	padding-top: 7px;
}

.wel-text-usturt {
	background-color: rgba(0, 0, 0, .6);
	height: fit-content;
	left: 29%;
	top: 30%;
	
} 

.wel-text-gov {
	background-color: rgba(0, 0, 0, .8);
	height: fit-content;
	left: 29%;
	top: 30%;
	padding-top: 10px;
} 

.wel-text-plant {
	background-color: rgba(0, 0, 0, .7);
	height: fit-content;
	left: 29%;
	top: 30%;
} 
.geog-text {
	text-align: justify;
	font-size: 1.4rem;
	text-indent: 1.5rem;
	
}

.g-map {
	
	transform: translate(1%);

	
}

.ed-pics {
	
	width: 95%;
}

.main-video {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 6px;
}
.card-img-top {
    width: 349px;
    height: 310px;

}

.card-text {
    height: 85px;
}

.kun-video {
	width: 490px;
	height: 285px;
}
.footer-nav a {
	font-size: 1.3rem;
}

.footer-links a:hover {

color: #310012;
border-bottom: 1px solid black;

}


#footer-nav {
	background-color:#2d2b3d;
}
.footer-nav {
	justify-content: flex-end;
    padding-right: 30px;
}

.footer-links {
    list-style-type: none;
    
}

.footer-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #70002b;
	font-weight: 600;
}
#kungrad {
	text-decoration: none;
	color: #fff8dc;
}
.bottom-menu {
	background-color:cornflowerblue;
	padding-top: 10px;
	padding-bottom: 10px;
}

.linked:hover {
	color: #2caffc;;
}

/* History page */

.hist-text {
	font-family: 'Merriweather-Regular';
	font-size: 1.6rem;
	color: #353535;
	text-indent: 7px;
	text-align: justify;
} 

.img-text {
	font-family: 'Merriweather-Regular';
	color: #777777;
	font-size: .8rem;

}

/* Photo page */
.photo-gal {
	margin-top: 10px;
}
.photo-gal img {
	
}

/* Video page */
.videos video {
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 6px;
}

.videos p {
	font-size: 1.2rem;
	margin-left: 10%;
	padding: 10px 0 10px;
	margin-top: 9px;
	margin-bottom: 2px;
	font-weight: 600;
	color: #536959;
	
}

.videos p:first-child {
	margin-top: 5px;

}

.videos video:last-child {
	margin-bottom: 15px;

}



@media screen and (max-width:320px) {
	
	.geo-title {
		font-size: 1.1rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 0.8rem;
		line-height: 0.8rem;
		padding: 0 5px 0;
	}
	.ed-pics {
		width: 100%;
	}

	#kungrad {
		font-size: .9rem;
	}
	.kun-video {
		width: 90%;
		height: 90%;
	}
	.videos video {
		
		width: 100%;
	
	}
	
}


@media screen and (max-width:485px) {
	
	.geo-title {
		font-size: 1.3rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.1rem;
		line-height: 1.2rem;
		padding: 0 8px 0;
	}
	.ed-pics {
		width: 100%;
	}

	#kungrad {
		font-size: 1rem;
	}
	
	.kun-video {
		width: 90%;
		height: 90%;
	}
	.videos video {
		
		width: 100%;
	
	}
}

@media screen and (max-width:768px) {
	
	.wel-text {
		font-size: 1rem;
	}
	.geo-title {
		font-size: 1.6rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.3rem;
		line-height: 1.5rem;
		padding: 0 6px 0;
	}
	.ed-pics {
		width: 100%;
	}


	#kungrad {
		font-size: .96rem;
	}

	.footer-nav li a {
		font-size: .94rem;
	}
	.videos video {
		
		width: 100%;
	
	}
	
}

@media screen and (max-width:1024px) {
	
	.wel-text-usturt {
		
		left: 29%;
		top: 12%;
		
	} 
	
	.wel-text-gov {
		
		left: 29%;
		top: 10%;
	
	} 
	
	.wel-text-plant {
		
		left: 29%;
		top: 10%;
	} 
	.geo-title {
		font-size: 1.9rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.5rem;
		line-height: 1.7rem;
	}


	/* #kungrad {
		font-size: .96rem;
	}

	.footer-nav li a {
		font-size: .94rem;
	}
	 */
	
}

@media screen and (max-width:1200px) {
	
	.geo-title {
		font-size: 1.7rem;
		padding-top: 3px;
	}
	.geog-text {
		font-size: 1.3rem;
		line-height: 1.7rem;
		padding-right: 0;
	}

	.g-map {
	
		transform: translate(1%);
	
		
	}
	
	.ed-pics {
		
		transform: translateY(7%);
	}
	

	
}