
@font-face {
	font-family: 'Merriweather-Regular';
	src: url('./fonts/Merriweather-Regular.eot');
	src: local('☺'), url('fonts/Merriweather-Regular.woff') format('woff'), url('fonts/Merriweather-Regular.ttf') format('truetype'), url('fonts/Merriweather-Regular.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather-Bold';
	src: url('./fonts/Merriweather-Bold.eot');
	src: local('☺'), url('fonts/Merriweather-Bold.woff') format('woff'), url('fonts/Merriweather-Bold.ttf') format('truetype'), url('fonts/Merriweather-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('./fonts/Lato-Light.eot');
	src: local('☺'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
    background-color: rgb(187, 255, 240);
    font-family: 'Lato-Light';
}

.my-nav-color {
	background-color:#adb900;
	font-size: 1.5rem;
	font-weight: 500;
}
.carousel-inner {
	position: relative;
}
.wel-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}

.wel-text {
	font-size: 1.4rem;
	margin-top: 20px;
	position: absolute;
	left: 37%;
    top: 35%;
    width: 30%;
	color: #00ffff;
}

.geog-text {
	text-align: justify;
	font-size: 1.4rem;
	text-indent: 1.5rem;
	
}

.g-map {
	
	transform: translate(1%);

	
}

.ed-pics {
	
	width: 95%;
}

.card-img-top {
    width: 349px;
    height: 310px;

}

.card-text {
    height: 85px;
}

.kun-video {
	width: 490px;
	height: 285px;
}
.footer-nav a {
font-size: 1.3rem;
}
#footer-nav {
	background-color:#2d2b3d;
}
.footer-nav {
	justify-content: flex-end;
    padding-right: 30px;
}

.footer-links {
    list-style-type: none;
    
}

.footer-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #70002b;
	font-weight: 600;
}
#kungrad {
	text-decoration: none;
	color: #fff8dc;
}
.bottom-menu {
	background-color:cornflowerblue;
	padding-top: 10px;
	padding-bottom: 10px;
}


@media screen and (max-width:320px) {
	
	.geo-title {
		font-size: 1.2rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1rem;
		line-height: 1rem;
	}

	#kungrad {
		font-size: .9rem;
	}
	.kun-video {
		width: 90%;
		height: 90%;
	}
}


@media screen and (max-width:485px) {
	
	.geo-title {
		font-size: 1.3rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.1rem;
		line-height: 1.2rem;
	}

	#kungrad {
		font-size: 1rem;
	}
	
	.kun-video {
		width: 90%;
		height: 90%;
	}
}

@media screen and (max-width:768px) {
	
	.geo-title {
		font-size: 1.6rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}


	#kungrad {
		font-size: .96rem;
	}

	.footer-nav li a {
		font-size: .94rem;
	}
	
	
}

@media screen and (max-width:1024px) {
	
	.geo-title {
		font-size: 1.9rem;
		padding-top: 5px;
	}
	.geog-text {
		font-size: 1.5rem;
		line-height: 1.7rem;
	}


	/* #kungrad {
		font-size: .96rem;
	}

	.footer-nav li a {
		font-size: .94rem;
	}
	 */
	
}

@media screen and (max-width:1200px) {
	
	.geo-title {
		font-size: 1.7rem;
		padding-top: 3px;
	}
	.geog-text {
		font-size: 1.3rem;
		line-height: 1.7rem;
		padding-right: 0;
	}

	.g-map {
	
		transform: translate(1%);
	
		
	}
	
	.ed-pics {
		
		transform: translateY(7%);
	}
	

	
}