
@font-face {
	font-family: 'Merriweather-Regular';
	src: url('./fonts/Merriweather-Regular.eot');
	src: local('☺'), url('fonts/Merriweather-Regular.woff') format('woff'), url('fonts/Merriweather-Regular.ttf') format('truetype'), url('fonts/Merriweather-Regular.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather-Bold';
	src: url('./fonts/Merriweather-Bold.eot');
	src: local('☺'), url('fonts/Merriweather-Bold.woff') format('woff'), url('fonts/Merriweather-Bold.ttf') format('truetype'), url('fonts/Merriweather-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('./fonts/Lato-Light.eot');
	src: local('☺'), url('fonts/Lato-Light.woff') format('woff'), url('fonts/Lato-Light.ttf') format('truetype'), url('fonts/Lato-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
    background-color: rgb(187, 255, 240);
    font-family: 'Lato-Light';
}
.carousel-inner {
	position: relative;
}
.wel-img {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}

.wel-text {
	font-size: 1.4rem;
	margin-top: 20px;
	position: absolute;
	left: 33%;
    top: 50%;
    width: 42%;
}

.geog-text {
	padding: 1rem;
	text-align: justify;
	font-size: 1.4rem;
	text-indent: 1.5rem;
}

.g-map, .ed-pics {
	width: 100%;
}

.card-img-top {
    width: 349px;
    height: 310px;

}

.card-text {
    height: 85px;
}


.footer-links {
    list-style-type: none;
    
}

.footer-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(112, 0, 43);
}
#kungrad {
	text-decoration: none;
	color: #fff8dc;
}